@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

hr {
  border: 1px dotted #fff;
}

#addBtn {
  transition: all 0.2s;
  font-weight: 700;
}

#addBtn:hover {
  color: #fff;
  background-color: #198754;
}
